body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product img {
    max-width: 100%;
    height: 300px;
}



.product h2 {
    font-size: 24px;
    margin: 10px 0;
}
.product p {
    font-size: 18px;
    margin: 10px 0;
}

#search-input {
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 8px;
    width: 27%;
    padding: 0px 20px;
}
